<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/resources/css/main2.css" />
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!-- 차트 -->
	<style>
	h1, h2, h3{
	font-family: 'RIDIBatang';
	}
	
	ol, ul {
	list-style: none; 
	}	


   </style>
</head>



  
    
	<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Header -->
						<header id="header">
							<ul class="rogo">
								<li><img src="/resources/images/rogo2.png"><span class="rogo"></span></a></li>
							</ul>

							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-medium-m"><span class="label">Mail</span></a></li>
							</ul>
						</header>


					<!-- Section -->
						<section>
							<header class="major">
								<h2>Photo List</h2>
							</header>
							
							<!-- chart -->
							<div style="width: 1000px;">
							    <canvas id="myChart" width="1000" height="400"></canvas>
							</div>
   							
   							<br>
   							<hr>
   							
							
							<!-- table -->
							<table class="charttb">
							    <thead>
							        <tr>
							            <th colspan="4"><h3>월별 회원 TOP10</h3></th>
							        </tr>
							        <tr style="text-align: center;">
							            <th>회원명</th>
							            <th>전월</th>
							            <th>당월</th>
							            <th>증감</th>
							        </tr>
							    </thead>
							    
							    
							    <tbody>
						            <tr>
						                <td>회원1</td>
						                <td>10</td>
						                <td>15</td>
						                <td>5</td>
						            </tr>
						            <tr>
						                <td>회원2</td>
						                <td>12</td>
						                <td>18</td>
						                <td>6</td>
						            </tr>
									<tr>
									    <td>회원3</td>
									    <td>8</td>
									    <td>11</td>
									    <td>3</td>
									</tr>
									<tr>
									    <td>회원4</td>
									    <td>14</td>
									    <td>20</td>
									    <td>6</td>
									</tr>
									<tr>
									    <td>회원5</td>
									    <td>9</td>
									    <td>13</td>
									    <td>4</td>
									</tr>
									<tr>
									    <td>회원6</td>
									    <td>11</td>
									    <td>16</td>
									    <td>5</td>
									</tr>
									<tr>
									    <td>회원7</td>
									    <td>13</td>
									    <td>19</td>
									    <td>6</td>
									</tr>
									<tr>
									    <td>회원8</td>
									    <td>7</td>
									    <td>10</td>
									    <td>3</td>
									</tr>
									<tr>
									    <td>회원9</td>
									    <td>16</td>
									    <td>24</td>
									    <td>8</td>
									</tr>
									<tr>
									    <td>회원10</td>
									    <td>20</td>
									    <td>30</td>
									    <td>10</td>
									</tr>
							    </tbody>
							</table>
						</section>
					</div>
				</div>

			<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">

						<!-- Menu -->
							<nav id="menu">
								<header class="major">
									<h2>Menu</h2>
								</header>
								<ul>
									<li><a href="front.do">Homepage</a></li> <!-- index.html 로 이동-->
									<li>
										<span class="opener">Photo</span>
										<ul>
											<li><a href="button.do">Photo list</a></li>
											<li><a href="#">Photo status</a></li>
										</ul>
									</li>
									<li>
										<span class="opener">member</span>
										<ul>
											<li><a href="#">Member list​</a></li>
											<li><a href="#">Member info​</a></li>
										</ul>
									</li>
									<li><a href="front.do">object config</a></li> <!-- index.html 로 이동-->
									<li><a href="#">logout</a></li> <!-- index.html 로 이동-->
								</ul>
							</nav>


						<!-- Section -->
							<section>
								<header class="major">
									<h2>Get in touch</h2>
								</header>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="#">routemate@co.kr</a></li>
									<li class="icon solid fa-phone">(000) 000-0000</li>
									<li class="icon solid fa-home">1234 Somewhere Road #7979<br />
									seoul, 00000-0000</li>
								</ul>
							</section>

						<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy; Untitled. All rights reserved. <br>
								Demo Images: <a href="#">google</a>. Design: <a href="#">routemate</a>.</p>
							</footer>

					</div>
				</div>

		</div>

</body>

		<!-- Scripts -->
		<script type="text/javascript"></script>
		<script src="/resources/js/jquery.min.js"></script>
		<script src="/resources/js/browser.min.js"></script>
		<script src="/resources/js/breakpoints.min.js"></script>
		<script src="/resources/js/util.js"></script>
		<script src="/resources/js/main2.js"></script>
		
		
		<!-- chart script -->
		<script>
		    var ctx = document.getElementById('myChart').getContext('2d');
		    var myChart = new Chart(ctx, {
		        type: 'line',
		        data: {
		            labels: ['23년 7월', '23년 6월', '23년 9월', '23년 10월', '23년 11월', '23년 12월'],
		            
		            datasets: [{
		                label: 'photo',
		                data: [7, 5, 19, 7, 15, 8],
		                backgroundColor: [
		                    'rgba(255, 99, 132, 0.2)',
		                    'rgba(54, 162, 235, 0.2)',
		                    'rgba(255, 206, 86, 0.2)',
		                    'rgba(75, 192, 192, 0.2)',
		                    'rgba(153, 102, 255, 0.2)',
		                    'rgba(255, 159, 64, 0.2)'
		                ],
		                borderColor: [
		                    'rgba(255, 99, 132, 1)',
		                    'rgba(54, 162, 235, 1)',
		                    'rgba(255, 206, 86, 1)',
		                    'rgba(75, 192, 192, 1)',
		                    'rgba(153, 102, 255, 1)',
		                    'rgba(255, 159, 64, 1)'
		                ],
		                borderWidth: 1
		            }]
		        },
		        options: {
		            scales: {
		                y: {
		                    beginAtZero: true
		                }
		            }
		        }
		    });
		</script>
		
		
</html>