<!DOCTYPE HTML>
<html>
	<head>
		<title>front page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/resources/css/main2.css" />
		<style>
		h1, h2, h3{
		font-family: 'RIDIBatang';
		}
		
		ol, ul {
		list-style: none; }	
		</style>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<ul class="rogo">
										<li><img src="/resources/images/rogo2.png"><span class="rogo"></span></a></li>
									</ul>

									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Mail</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>보행약자를 위한<br />
											 진입로 서비스</h1>
											<p>Provides AI navigation services <br>
											through AR technology</p>
										</header>
										<p>It stores image data of walking paths and entrances, accessibility information of buildings, sender information, location information, etc. The control system can refine this information and perform image data object detection, sender information management, and location information management through database management.</p>

									</div>
									<span class="image object">
										<img src="/resources/images/route01.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Route Mate</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>AR 기반 실시간 보행로 정보 제공</h3>
												<p>사용자의 정보를 바탕으로 AR 기술을 통해 실시간으로 ‘상태정보’와 ‘상황정보’를 분석하여 최적화된 AI 내비게이션 서비스를 제공한다.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>보행로 및 건물 출입구 접근성 정보 수집 관제 시스템 구축</h3>
												<p>보행로 및 출입구의 영상 데이터 & 건물의 접근 정보 & 전송자 정보 & 위치 정보 등을 저장하며, 관제 시스템에서는 이 정보를 정제하여 데이터베이스 관리를 통해 영상 데이터 객체 탐지, 전송자 정보 관리, 위치 정보를 관리한다.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>건물 출입구 추천 서비스</h3>
												<p>AI 내비게이션은 ‘건물 출입구’를 분석하여 해당 서비스를 DB로 구축한다. 그리고 사용자가 목적지를 검색하면 사용자에게 최적화된 건물 출입구로 안내해주는 서비스를 제공한다.</p>
											</div>
										</article>
										
									</div>
								</section>

							
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="front.do">Home</a></li> <!-- index.html 로 이동-->
										<li>
											<span class="opener">Photo</span>
											<ul>
												<li><a href="photolist.do">Photo list</a></li>
												<li><a href="photostatus.do">Photo status</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">member</span>
											<ul>
												<li><a href="memberlist.do">Member list​</a></li>
												<!-- <li><a href="memberinfo.do">Member info​</a></li> -->
											</ul>
										</li>
										<li><a href="objectconfig.do">object config</a></li> <!-- index.html 로 이동-->
										<li><a href="logout.do">logout</a></li> <!-- index.html 로 이동-->
									</ul>
								</nav>


							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">routemate@co.kr</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #7979<br />
										seoul, 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. <br>
									Demo Images: <a href="#">google</a>. Design: <a href="#">routemate</a>.</p>
								</footer>

						</div>
					</div>

			</div>


	</body>
	
		<!-- Scripts -->
		<script type="text/javascript"></script>
		<script src="/resources/js/jquery.min.js"></script>
		<script src="/resources/js/browser.min.js"></script>
		<script src="/resources/js/breakpoints.min.js"></script>
		<script src="/resources/js/util.js"></script>
		<script src="/resources/js/main2.js"></script>
		
</html>








