
<!DOCTYPE HTML>
<html>
	<head>
		<title>index page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/resources/css/main.css" />
	</head>
	
	
	
	
	
	<body class="is-preload">
		<!-- Header -->
			<header id="header">
				<h1>ROUTE MATE</h1>
				<p>Rautmate is optimized for the disabled<br />
				Provides a barrier-free smart city platform</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="login.do" >   <!--  action="login.do" -->
				<input type="text" name="id" id="id" placeholder="id" />
				<input type="password" name="pwd" id="pwd" placeholder="pw" />
				<input type="submit" value="Sign Up" onsubmit="return ture;" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="front.do" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Copy.</li>
				</ul>
			</footer>
			
			
		<!-- Scripts -->
		<script type="text/javascript"></script>
		<script src="/resources/js/main.js"></script>
			<script src="/resources/js/jquery.min.js"></script>
			<script src="/resources/js/browser.min.js"></script>
			<script src="/resources/js/breakpoints.min.js"></script>
			<script src="/resources/js/util.js"></script>
			<script src="/resources/js/main.js"></script>
	</body>
</html>