<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 마이바티스 mybatis-config.xml 에 등록해야 별칭으로 사용할 수 있음 => 등록안할꺼면 사용구문을 모두 적으면 됨 -->

<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="rm.web.main.mapper.MainMapper">

	<select id="userSearch" resultType="String">
		SELECT 1 AS TEST
	</select> 

	<select id="selectUser" parameterType="String"  resultMap="UserVO">		
      SELECT /* selectUser 로그인 처리용 */
      		 MEM_IDX      /* 회원번호 */
		   , MEM_ID       /* 아이디 */
		   , MEM_PW       /* 비번 */
		   , MEM_NAME     /* 이름 */
		   , MEM_NUM      /* 휴대폰번호 */
		   , MEM_CRE      /* 가입일 */
		   , MEM_DATE     /* 접속기록 */
		   , MEM_UPDATE   /* 정보수정일 */
		   , MEM_ADMIN
		   , MEM_STAT
		   , MEM_OBS
        FROM YOLOV8.MEMBERTB
       WHERE MEM_ID = #{mem_id}
	</select>

	
	<!-- 회원 전체 조회용 -->
<!-- 	<select id = "selectUserList" parameterType="Paging" resultType="User">
	<![CDATA[
		select *
		from (select rownum rnum, USER_ID, ADMIN_ID, USER_NICKNAME, USER_NAME, USER_PHONE, 
			 USER_EMAIL, USER_BIRTH, USER_LEVEL, USER_STATUS, BAN_RELEASE_DATE, USER_POINT, USER_ACCESS, USER_ORIGINAL_PROFILE, USER_ENROLLDATE
			 from (select * from tb_user order by user_id desc))
		where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	 -->
	
		
		
		
</mapper>